services:
  shorturl:
    container_name: shorturl
    restart: always
    build:
      context: ./shorturl
      dockerfile: Dockerfile
    env_file:
      - .env
    healthcheck:
      test: [ "CMD", "curl", "-f", "https://127.0.0.1:8080/" ]
      interval: 3s
      timeout: 4s
      retries: 3
      start_period: 3s
    networks:
      - app-network
    depends_on:
      redis:
        condition: service_healthy

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    volumes:
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "127.0.0.1:8080:8080"
    networks:
      - app-network

  redis:
    container_name: redis
    image: redis:8.0-rc1
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./conf/redis/redis.conf:/usr/local/etc/redis/redis.conf
    env_file:
      - .env
    command: [ "redis-server", "--requirepass", "${REDIS_PASSWORD}" ]
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - app-network

networks:
  app-network:

volumes:
  redis_data:
